<div class="header">
    <div class="header_title">
        <div>
            <a class="app-a" routerLinkActive="app-a_active" (click)="onClicked()">
                <span class="material-icons md-36 estiloIcon">menu</span>
            </a>
        </div>
        <span>Store Vasg</span>
    </div>
    <div class="header_navigation" fxHide.xs fxHide.sm>
        <a class="app-a" routerLinkActive="app-a_active">Home</a>
        <a class="app-a" routerLinkActive="app-a_active">Tienda</a>
        <a class="app-a" routerLinkActive="app-a_active">Contacto</a>
    </div>
    <div class="header_buttons" fxHide.xs fxHide.sm>
        <a class="app-a" routerLinkActive="app-a-active">
            <span class="material-icons md-36 estiloIcon">shopping_cart</span>
        </a>
        <app-button>Login</app-button>
        <app-button>Registrar</app-button>
    </div>

</div>
